body{
    background: #222;
    color:#02B875 ;
    font-family: monospace;
    margin-left: 16px;
    font-size: 16px;
}

.cmd{
    margin-left: 24px;
    color: #6AD5CB;
}

p{
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.05em;
}

#colorGray{
    color: #D4D2D5;
}

#colorGreen{
    color: #02B875;
}

#colorAqua{
    color: #6AD5CB;
}

textarea#setter {
    left: -1000px;
    position: absolute;
}
.cursor {
    font-size: 12px;
    background-color: #6AD5CB;
    color: #6AD5CB;
    position: relative;
    opacity: 0.5;
    height: 1.5em;
    width: 10px;
    transform: translateY(3px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
}
#terminal {
    margin: 0px;
    cursor: text;
    overflow: auto;
}

#writer {
    font-family: monospace;
    color: #6AD5CB;
}
#getter::before {
    content: "website@website.com>>";
    margin: 0px;
}
@keyframes blinker {  
    50% { opacity: 0.0; }
}
  





